<div class="trainer-layout"
     [class.preview-mode]="previewMode"
     [style.--light-square-color]="lightSquareColor"
     [style.--dark-square-color]="darkSquareColor"
     [style.--white-piece-color]="whitePieceColor"
     [style.--black-piece-color]="blackPieceColor"
     [style.--square-gap]="squareGapPx + 'px'"
     [style.--board-border-width]="borderWidthPx + 'px'">
  <app-chess-board-language-tools
    *ngIf="!previewMode"
    [uiText]="uiText"
    [selectedLocale]="selectedLocale"
    [isLanguageSwitching]="isLanguageSwitching"
    (localeChange)="switchLocale($event)"></app-chess-board-language-tools>
  <div class="ambient-math" *ngIf="!previewMode" [ngClass]="getAmbientThemeClass()" [ngStyle]="ambientStyle" aria-hidden="true"></div>
  <section class="board-panel">
    <div class="board-stack">
          <div class="outer-container board-shell">
        <div class="container" #chessField>
          <div #row class="field-row" *ngFor="let displayRow of renderedBoardRows">
            <div class="field-cell" *ngFor="let displayCol of renderedBoardCols">
              <div class="piece-box">
                <div class="square"
                     cdkDropList
                     cdkDropListOrientation="horizontal"
                     [cdkDropListSortingDisabled]="true"
                     [cdkDropListEnterPredicate]="canDropPredicate"
                     [cdkDropListDisabled]="previewMode"
                     [id]="getDisplayFieldId(displayRow, displayCol)"
                     [ngClass]="getDisplaySquareHighlightClass(displayRow, displayCol)"
                     [cdkDropListData]="getDisplayCell(displayRow, displayCol)"
                     [cdkDropListConnectedTo]="dropLists"
                     (cdkDropListEntered)="onDropListEntered($event)"
                     (cdkDropListDropped)="onDrop($event)"
                     [class.white-square]="isDisplaySquareWhite(displayRow, displayCol)"
                     [class.black-square]="!isDisplaySquareWhite(displayRow, displayCol)">
                  <div class="drag-box" (mousedown)="onSquarePointerDown(getDisplayCell(displayRow, displayCol))">
                    <app-chess-piece [piece]="piece"
                                     [pieceStyle]="pieceStyle"
                                     *ngIf="getDisplayPiece(displayRow, displayCol) as piece"
                                     cdkDrag
                                     [cdkDragData]="piece"
                                     [cdkDragDisabled]="previewMode || chessBoardStateService.boardHelper.gameOver || piece.color !== chessBoardStateService.boardHelper.colorTurn"
                                     (cdkDragStarted)="onDragStarted()"
                                     (cdkDragEnded)="onDragEnded()"></app-chess-piece>
                  </div>
                  <div class="notation">{{getDisplayNotation(displayRow, displayCol)}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="arrowPointer" *ngFor="let arrow of chessBoardStateService.arrows; index as arrowIdx"
             [style.top]="getArrowTopForDisplay(arrow)" [style.left]="getArrowLeftForDisplay(arrow)" [style.color]="arrow.color"
             [style.width]="arrow.length"
             [style.--arrow-thickness]="arrow.thickness"
             [style.transform]="getArrowTransformForDisplay(arrow)">
          <span class="arrow-shaft"></span>
          <span class="arrow-head"></span>
        </div>
      </div>

      <app-chess-board-position-key
        *ngIf="!previewMode"
        [uiText]="uiText"
        [boardHelper]="chessBoardStateService.boardHelper"
        [isDebugPanelOpen]="isDebugPanelOpen"
        [debugPositionKey]="getDebugPositionKey()"
        (debugPanelToggle)="onDebugPanelToggle($event)"></app-chess-board-position-key>
    </div>
  </section>

  <section class="sidebar-panel" *ngIf="!previewMode">
    <app-chess-board-clock-card
      [uiText]="uiText"
      [selectedLocale]="selectedLocale"
      [chessColors]="chessColors"
      [selectedClockPresetLabel]="selectedClockPresetLabel"
      [clockStarted]="clockStarted"
      [clockRunning]="clockRunning"
      [blackClockMs]="blackClockMs"
      [whiteClockMs]="whiteClockMs"
      [analysisMeterOffsetPercent]="getAnalysisMeterOffsetPercent()"
      [currentAnalysisEvalText]="getCurrentAnalysisEvalText()"
      [isBlackClockActive]="isClockActive(chessColors.Black)"
      [isWhiteClockActive]="isClockActive(chessColors.White)"
      [isBlackClockLow]="isClockLow(chessColors.Black)"
      [isWhiteClockLow]="isClockLow(chessColors.White)"
      (timeControlChange)="applyTimeControl($event.baseMinutes, $event.incrementSeconds, $event.label)"
      (toggleClock)="startOrPauseClock()"
      (resetClock)="resetClock()"></app-chess-board-clock-card>

    <app-chess-board-status-card
      [uiText]="uiText"
      [selectedLocale]="selectedLocale"
      [boardState]="chessBoardStateService.boardHelper"
      [currentTurnColor]="chessBoardStateService.boardHelper.colorTurn"
      [pendingDrawOfferBy]="pendingDrawOfferBy"
      [clockRunning]="clockRunning"
      [resignConfirmColor]="resignConfirmColor"
      [chessColors]="chessColors"
      [canOfferDraw]="canOfferDraw()"
      [canRespondToDrawOffer]="canRespondToDrawOffer()"
      [canClaimDraw]="canClaimDraw()"
      [canResignWhite]="canResign(chessColors.White)"
      [canResignBlack]="canResign(chessColors.Black)"
      (showPossibleMoves)="showPossibleMoves($event)"
      (startNewGame)="startNewGame()"
      (offerDraw)="offerDraw()"
      (acceptDraw)="acceptDrawOffer()"
      (declineDraw)="declineDrawOffer()"
      (claimDraw)="claimDraw()"
      (openResignConfirm)="openResignConfirm($event)"
      (cancelResignConfirm)="cancelResignConfirm()"
      (confirmResign)="confirmResign()"></app-chess-board-status-card>

    <app-chess-board-tools-card
      [uiText]="uiText"
      [activeTool]="activeTool"
      [isBoardFlipped]="isBoardFlipped"
      [canPromote]="chessBoardStateService.boardHelper.canPromote !== null"
      [suggestedMoves]="suggestedMoves"
      [suggestedMoveClassProvider]="getSuggestionQualityClass.bind(this)"
      [suggestedMoveScoreProvider]="getSuggestionEvalText.bind(this)"
      [openingRecognition]="getMockOpeningRecognition()"
      [endgameRecognition]="getMockEndgameRecognition()"
      (promotePiece)="promotePiece($event)"
      (showThreats)="showThreats($event)"
      (showProtected)="showProtected($event)"
      (showHangingPieces)="showHangingPieces($event)"
      (showForkIdeas)="showForkIdeas()"
      (showPinIdeas)="showPinIdeas()"
      (toggleBoardFlip)="toggleBoardFlip()"
      (exportPgn)="exportPgn()"
      (exportBoardImage)="exportBoardImageMock()"
      (exportFen)="exportFen()"
      (previewMove)="previewSuggestedMoveArrows($event)"
      (clearPreview)="clearSuggestedMoveArrows()"></app-chess-board-tools-card>

    <app-chess-board-history-card
      #historyLog
      [uiText]="uiText"
      [canUndo]="canUndoMove()"
      [canRedo]="canRedoMove()"
      [visibleHistory]="getVisibleHistory()"
      [getMoveQualityClass]="getMoveQualityClass.bind(this)"
      [getMoveQualityLabel]="getMoveQualityLabel.bind(this)"
      [getEvaluationForMove]="getEvaluationForMove.bind(this)"
      (undo)="undoMove()"
      (redo)="redoMove()"></app-chess-board-history-card>

    <app-chess-board-cct-card
      [uiText]="uiText"
      [captures]="getCctRecommendations(cctCategory.Captures)"
      [checks]="getCctRecommendations(cctCategory.Checks)"
      [threats]="getCctRecommendations(cctCategory.Threats)"
      [getMoveClass]="getSuggestionQualityClass.bind(this)"
      [getMoveScore]="getSuggestionEvalText.bind(this)"
      (previewMove)="previewSuggestedMoveArrows($event)"
      (clearPreview)="clearSuggestedMoveArrows()"></app-chess-board-cct-card>
  </section>
</div>








