<i class="fa"
             [class.black-piece]="piece.color === 'black'"
             [class.white-piece]="piece.color === 'white'"
             [class.fa-chess-rook]="piece.piece === 'rook'"
             [class.fa-chess-bishop]="piece.piece === 'bishop'"
             [class.fa-chess-king]="piece.piece === 'king'"
             [class.fa-chess-queen]="piece.piece === 'queen'"
             [class.fa-chess-pawn]="piece.piece === 'pawn'"
             [class.fa-chess-knight]="piece.piece === 'knight'"></i>
