.white-piece {
  -webkit-text-stroke: 1px #1c1f2a;
  text-shadow:
    1px 1px 0 #3e3e3e,
      -1px -1px 0 #3e3e3e,
      1px -1px 0 #3e3e3e,
    -1px 1px 0 #3e3e3e,
    1px 1px 0 #3e3e3e;
  color: var(--white-piece-color, #f7f0de);
}
.black-piece {
  -webkit-text-stroke: 1px #f5f7ff;
  text-shadow:
    1px 1px 0 #a8b2cf,
      -1px -1px 0 #a8b2cf,
      1px -1px 0 #a8b2cf,
    -1px 1px 0 #a8b2cf,
    1px 1px 0 #a8b2cf;
  color: var(--black-piece-color, #252a3a);
}

i.fa {
  display: block;
  line-height: 1;
}

path {
  stroke: white;
  stroke-width: 30px;
}
