.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.drop-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 }
.piece-box {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.square {
  font-size: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  &.white-square {
    background-color: blanchedalmond;
  }
  &.black-square {
    background-color: #232323;
  }
}
.white-piece {
  -webkit-text-stroke: 1px black;
  text-shadow:
    1px 1px 0 #555,
      -1px -1px 0 #555,
      1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
  color: lightsalmon;
}
.black-piece {
  -webkit-text-stroke: 1px white;
  text-shadow:
    1px 1px 0 #999,
      -1px -1px 0 #999,
      1px -1px 0 #999,
    -1px 1px 0 #999,
    1px 1px 0 #999;
  color: #353535;
}
path {
  stroke: white;
  stroke-width: 30px;
}
