<div class="container" cdkDropListGroup>
  <div class="drop-list"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListEnterPredicate]="canDrop"
      #whiteList="cdkDropList"
      [cdkDropListData]="whites"
      [cdkDropListConnectedTo]="[blackList]"
      (cdkDropListDropped)="onDrop($event)">
    <h2>Whites: </h2>
    <div class="piece-box">
      <div *ngFor="let piece of whites; index as i" cdkDrag>
        <div class="square white-square">
          <i class="fa"
             [class.black-piece]="piece.color === 'black'"
             [class.white-piece]="piece.color === 'white'"
             [class.fa-chess-rook]="piece.piece === 'rook'"
             [class.fa-chess-bishop]="piece.piece === 'bishop'"
             [class.fa-chess-king]="piece.piece === 'king'"
             [class.fa-chess-queen]="piece.piece === 'queen'"
             [class.fa-chess-pawn]="piece.piece === 'pawn'"
             [class.fa-chess-knight]="piece.piece === 'knight'"></i>
        </div>
      </div>
    </div>
  </div>
  <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListEnterPredicate]="canDrop"
      #blackList="cdkDropList"
      [cdkDropListData]="blacks"
      [cdkDropListConnectedTo]="[whiteList]"
      (cdkDropListDropped)="onDrop($event)">
    <h2>Blacks: </h2>
    <div class="piece-box">
      <div *ngFor="let piece of blacks; index as i" cdkDrag>
        <div class="square white-square">
          <i class="fa"
             [class.black-piece]="piece.color === 'black'"
             [class.white-piece]="piece.color === 'white'"
             [class.fa-chess-rook]="piece.piece === 'rook'"
             [class.fa-chess-bishop]="piece.piece === 'bishop'"
             [class.fa-chess-king]="piece.piece === 'king'"
             [class.fa-chess-queen]="piece.piece === 'queen'"
             [class.fa-chess-pawn]="piece.piece === 'pawn'"
             [class.fa-chess-knight]="piece.piece === 'knight'"></i>
        </div>
      </div>
    </div>
  </div>
</div>
